<!DOCTYPE html>
<html lang="en" ng-app="PaginationApp">
<head>
    <meta charset="UTF-8">
    <title>Pagination App</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
</head>
<body ng-controller="paginationCtrl as ctrl">
<div class="container">
    <p align="right"><a href="#" ng-click="ctrl.previous()" class="btn btn-default glyphicon glyphicon-chevron-left" role="button"></a>&nbsp;{{ctrl.currentPage}} of {{ctrl.totalPages}}&nbsp;<a href="#" ng-hide="(ctrl.currentPage == ctrl.totalPages)" ng-click="ctrl.next()" class="btn btn-default glyphicon glyphicon-chevron-right" role="button"></a></p>
    <br>
    <div class="row">
        <div class="col-xs-6 col-md-8" ng-show="ctrl.results.length" ng-repeat="item in ctrl.results">
            <div class="thumbnail">
                <img src="thumbnails/{{ item.cover_thumbnail}}" height="450" width="200" class="img-thumbnail img-responsive">
                <div class="caption">
                    <h3 align="center">{{ item.title}}</h3>
                    <p align="center">Author : {{ item.author_lastname}} {{ item.author_firstname}}</p>
                </div>
            </div>
        </div>
    </div>
    <p align="right"><a href="#" ng-click="ctrl.previous()" class="btn btn-default glyphicon glyphicon-chevron-left" role="button"></a>&nbsp;{{ctrl.currentPage}} of {{ctrl.totalPages}}&nbsp;<a href="#" ng-hide="(ctrl.currentPage == ctrl.totalPages)" ng-click="ctrl.next()" class="btn btn-default glyphicon glyphicon-chevron-right" role="button"></a></p>
</div>

</body>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="index.js"></script>
<script type="text/javascript" src="service.js"></script>
</html>